<div class="cart-top container-fluid">
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 class="itemdata" > {{item.title}}</h5>
                <p class="itemdata"> {{item.description}}</p>
                <p> <strong> Price:</strong>$ {{item.price}}</p>
                <p> {{item.category}}</p>
                <button class="btn btn-success" (click)="addtoCart(item)"> Add to Cart</button>
            </div>
            </ng-container>

    </div>

</div>
